body {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    background-color: rgb(58, 134, 255);
}
.main-div {
    margin: -40px auto;
    width: 750px;
    min-height: 500px;
    font-size: 1.25em;
}
.info-div {
    padding-bottom: 10px;
}
.place-name {
    font-size: 4em;
    padding: 12px;
}
.main-div h2 {
    margin: 10px 0px 3px 0px;
}
.main-div b {
    color: rgb(63, 55, 201);
}
.user-input {
    margin: 25px;
}
.desc {
    margin: 0px;
    padding: 1px 10px;
    font-size: 2.5em;
    font-weight: bold;
    color: rgb(214, 40, 40);
}
.sep {
    padding: 0px 10px;
}
.sep div {
    padding: 5px;
}
.divide {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
}
.right {
    position: relative;
    top: 70px;
}
.toggle {
    font-size: 4em;
    width: fit-content;
    padding: 30px;
    display: inline-block;
    margin: auto 20px;
}
.toggle h1 {
    font-size: 0.4em;
}
.search {
    position: relative;
    top: -80px;
}
